<!DOCTYPE html>
<html lang="zh-TW">
  <head>
    <% include ClientApp/ejs/index_2/public/headerTag.ejs %>
  </head>
  <body class="body">
    <%- include ClientApp/ejs/index_2/public/style.ejs %>
    <%if (htmlWebpackPlugin.options.outputFile.isProd) {%> <% for (var css in
    htmlWebpackPlugin.files.css) { %>
    <link
      href="wwwroot/webpackTest<%= htmlWebpackPlugin.files.css[css] %>"
      rel="stylesheet"
    />
    <% } %> <% } %>

    <%- include ClientApp/ejs/index_2/public/header.ejs %>

    <section class="hero" style="background-image: url(wwwroot/images/heroBG.jpg);">
      <div class="particlesJs"  id="particles-js"></div>
      <div class="container hreoBox">
        <div class="row">
          <div class="col-xl-6">
            <div class="heroImg mText-xl-center"><img src="https://picsum.photos/500/500?image=683" alt=""></div>
          </div>
          <div class="col-xl-6">
              <div class="container-fluid">
                <div class="row">
                  <div class="col-12">
                      <div class="type-wrap"><h1 class="text-center">
                          <span class="visually-hidden">mTERRACE</span>
                          <span role="presentation" aria-hidden="true"></span>
                          </h1>
                        </div>
                  </div>
                  <div class="col-12 mt-35x mb-50x mText-xl-center">
                    <button class="mTERRACEBtn">立即前往</button>
                  </div>
                </div>
              </div>
              
          </div>
        </div>
      </div>
    </section>


    <section class="activityPicture">
      <div class="container">
        <div class="row">
          <div class="col-12 p25-0-50 text-center">
            <h2><span>活動照片</span></h2>
          </div>
          <div class="col-12">
            <div class="owlOne owl-carousel owl-theme">
              <div class="item"><img src="https://picsum.photos/200/300" alt=""></div>
              <div class="item"><img src="https://picsum.photos/200/300" alt=""></div>
              <div class="item"><img src="https://picsum.photos/200/300" alt=""></div>
              <div class="item"><img src="https://picsum.photos/200/300" alt=""></div>
            </div>
          </div>
        </div>
      </div>  
    </section>
    
    <sectioin class="news bgSection" style="background-image: url(wwwroot/images/bgSection.png);">
      <div class="container">
        <div class="row">
          <div class="col-12 p25-0-50 text-center">
            <h2><span>最新消息動態</span></h2>
          </div>
          <div class="col-12">
              <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item">
                  <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">公告</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Profile</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">Contact</a>
                </li>
              </ul>
              <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                    <table class="table newsTable">
                        <!-- <thead>
                          <tr>
                            <th scope="col">#</th>
                            <th scope="col">First</th>
                            <th scope="col">Last</th>
                            <th scope="col">Handle</th>
                          </tr>
                        </thead> -->
                        <tbody>
                          <tr>
                            <th scope="row" class="chooseBeautyColor">2019-01-11</th>
                            <td>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo voluptatibus cum commodi non unde laudantium, ipsa fugiat qui, quam excepturi sit dolores nobis neque iusto, molestias suscipit quaerat autem amet?</td>
                          </tr>
                          
                        </tbody>
                      </table>
                </div>
                <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">...</div>
                <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">...</div>
              </div>
          </div>
        </div>
      </div>
    </sectioin>

    <section class="chooseBeauty">
        <div class="container">
            <div class="row">
              <div class="col-12 p25-0-50 text-center">
                <h2><span>活動照片</span></h2>
              </div>
              <div class="col-12">
                <div class="owlTwo owl-carousel owl-theme">
                  <div class="item"><img src="https://picsum.photos/200/300" alt=""></div>
                  <div class="item"><img src="https://picsum.photos/200/300" alt=""></div>
                  <div class="item"><img src="https://picsum.photos/200/300" alt=""></div>
                  <div class="item"><img src="https://picsum.photos/200/300" alt=""></div>
                </div>
              </div>
            </div>
          </div>  
    </section>

    <section class="businessSupport bgSection" style="background-image: url(wwwroot/images/bgSection.png);">
      <div class="container">
        <div class="row">
          <div class="col-12 text-center">
            <h2><span>協辦單位及贊助商</span></h2>
          </div>
          <div class="col-12">
            <div class="row">
              <div class="col-sm-4 p25-0-50 text-center text-center">
                <div class="row">
                  <div class="col-12">
                    <h3><span>主辦單位</span></h3>
                  </div>
                </div>
                <a target="_blank" class="businessSupportInfo">
                  <div class="img">
                      <img src="https://picsum.photos/300/220" alt="">
                  </div>
                  <p class="businessSupportName">泰睿思股份有限公司</p>
                </a>
              </div>
              <div class="col-sm-8 p25-0-50 block">
                <div class="row">
                  <div class="col-12">
                    <h3><span>協辦單位</span></h3>
                  </div>
                </div>
                <a target="_blank" class="businessSupportInfo">
                  <div class="img">
                      <img src="https://picsum.photos/300/220" alt="">
                  </div>
                  <p class="businessSupportName">泰睿思股份有限公司</p>
                </a>
              </div>
              <div class="col-sm-12 mt-4 text-center">
                <div class="row">
                  <div class="col-12">
                    <h3 class="text-center"><span>贊助商</span></h3>
                  </div>
                </div>
                <a target="_blank" class="businessSupportInfo">
                    <div class="img">
                        <img src="https://picsum.photos/300/220" alt="">
                    </div>
                    <p class="businessSupportName">泰睿思股份有限公司</p>
                  </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>


    <%- include ClientApp/ejs/index_2/public/footer.ejs %>
    <%- include ClientApp/ejs/index_2/public/script.ejs %>

    <script>
      window.strickyFixedOpen = true
    </script>
      <!-- particlesJS -->
    <script>
     particlesJS("particles-js", {
      "particles": {
        "number": {
          "value": 80,
          "density": {
            "enable": true,
            "value_area": 800
          }
        },
        "color": {
          "value": "#eee"
        },
        "shape": {
          "type": "triangle",
          "stroke": {
            "width": 0,
            "color": "#000000"
          },
          "polygon": {
            "nb_sides": 5
          },
          "image": {
            "src": "img/github.svg",
            "width": 100,
            "height": 100
          }
        },
        "opacity": {
          "value": 0.5,
          "random": false,
          "anim": {
            "enable": false,
            "speed": 1,
            "opacity_min": 0.1,
            "sync": false
          }
        },
        "size": {
          "value": 3,
          "random": true,
          "anim": {
            "enable": false,
            "speed": 40,
            "size_min": 0.1,
            "sync": false
          }
        },
        "line_linked": {
          "enable": true,
          "distance": 150,
          "color": "#eee",
          "opacity": 0.4,
          "width": 1
        },
        "move": {
          "enable": true,
          "speed": 6,
          "direction": "none",
          "random": false,
          "straight": false,
          "out_mode": "out",
          "bounce": false,
          "attract": {
            "enable": false,
            "rotateX": 600,
            "rotateY": 1200
          }
        }
      },
      "interactivity": {
        "detect_on": "canvas",
        "events": {
          "onhover": {
            "enable": true,
            "mode": "repulse"
          },
          "onclick": {
            "enable": false,
            "mode": "push"
          },
          "resize": true
        },
        "modes": {
          "grab": {
            "distance": 140,
            "line_linked": {
              "opacity": 1
            }
          },
          "bubble": {
            "distance": 400,
            "size": 40,
            "duration": 2,
            "opacity": 8,
            "speed": 3
          },
          "repulse": {
            "distance": 200,
            "duration": 0.4
          },
          "push": {
            "particles_nb": 4
          },
          "remove": {
            "particles_nb": 2
          }
        }
      },
      "retina_detect": true
    });
    </script>
    <!-- typed.js -->
    <script>
       //typed.js
      $(".type-wrap span:last").typed({
        strings: ["^1000 <strong>mTERRACE</strong>."],
        typeSpeed: 100,
        loop: false,
        contentType: 'html',
        loop: true
      });
    </script>
    <!-- owlcarousel -->
    <script>
      // owlcarousel
      var owlCommonSetting = {
        loop:true,
        margin:10,
        responsiveClass:true,
        nav:true,
        items: 1,
        autoplay:true,
        autoplayTimeout:5000,
        autoplayHoverPause:true,
        navText: [
            (
                '<span class="next">' +
                '  <i class="fas fa-arrow-left"></i>' +
                '</span>'
            ),
            (
                '<span class="next">' +
                '  <i class="fas fa-arrow-right"></i>' +
                '</span>'
            )],
        responsive:{
            1000:{
                items:1,
                loop:true
            }
        }
      }

      $('.owlOne').owlCarousel(owlCommonSetting)

      var owlCommonSetting2 = JSON.parse(JSON.stringify(owlCommonSetting))
      owlCommonSetting2.responsive = {
        1000:{
          items:3,
          loop:true
      }
      }
      $('.owlTwo').owlCarousel(owlCommonSetting2)
    </script>

    <script src="<%= htmlWebpackPlugin.options.outputFile.vendor %>"></script>

    <%if (htmlWebpackPlugin.options.outputFile.isProd) {%> <% for (var chunk in
    htmlWebpackPlugin.files.chunks) { %>
    <script src="wwwroot/webpackTest<%= htmlWebpackPlugin.files.chunks[chunk].entry %>"></script>
    <% } %> <%} else {%> <% for (var chunk in htmlWebpackPlugin.files.chunks) {
    %>
    <script src="http://localhost:<%= htmlWebpackPlugin.options.outputFile.port %><%= htmlWebpackPlugin.files.chunks[chunk].entry %>"></script>
    <% } %> <% } %>
    
  </body>
</html>


