<!-- 佳麗個人網頁 - 個人動態 -->
<!DOCTYPE html>
<html lang="zh-TW">
  <head>
    <% include ClientApp/ejs/index_2/public/headerTag.ejs %>
  </head>
  <body class="body">
    <%- include ClientApp/ejs/index_2/public/style.ejs %>
    <%if (htmlWebpackPlugin.options.outputFile.isProd) {%> <% for (var css in
    htmlWebpackPlugin.files.css) { %>
    <link
      href="wwwroot/webpackTest<%= htmlWebpackPlugin.files.css[css] %>"
      rel="stylesheet"
    />
    <% } %> <% } %>

    <%- include ClientApp/ejs/index_2/public/header.ejs %>

  

    <section class="prettyWomanSelfStatus">
      <div class="container">
        <div class="row">
          <div class="col-12 text-center fz-25x mb-4">佳麗個人網頁-個人動態</div>
          <div class="col-md-4">
            <div class="row">
              <div class="col-12">
                <div class="personInfo align-self-start">
                  <a class="logo" href="index.html">
                    <img src="wwwroot/images/mTERRACELogo.png" alt="mTERRACE">
                  </a>
                  <div class="img">
                    <!-- <img src="" alt=""> -->
                    <img class="rounded-circle" src="https://picsum.photos/100/100?image=1027" alt="">
                  </div>
                  <div class="name">暱稱</div>
                  <div class="introduction scrollbar">
                    <span>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nulla fugit omnis obcaecati non consequatur aperiam quisquam doloremque cupiditate, eos animi esse assumenda quo asperiores eius ex vel neque exercitationem rerum.</span>
                  </div>
                </div>
              </div>
              <div class="col-md-12">
                <div class="photos">
                  <h2 class="title">相片牆
                    <a href="#" class="readMove">看更多...</a>
                  </h2>
                  <div class="photo">
                    <div class="img img-thumbnail rounded">
                      <img src="https://picsum.photos/200/200" alt="">
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-8">
            <div class="row">
                <div class="col-md-12">
                  <div class="blog">
                    <h2>title</h2>
                    <h3 class="mb-3 content o-9">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Alias culpa fuga distinctio, inventore reiciendis eligendi et commodi quaerat voluptas nisi qui aspernatur voluptates cumque eveniet officia aliquam, repellendus necessitatibus quia?</h3>
                    <div class="action">
                      <span class="o-5">
                        <span>787</span>&nbsp;個讚
                      </span>
                    </div>
                    <div class="giftArea scrollbar">
                      <div class="gift">
                        <a class="icon" href="#">
                          <span class="img">
                            <img src="https://picsum.photos/100/100?image=1040" alt="">
                          </span>
                          <span class="point mt-1">50</span>
                        </a>
                        <a class="icon" href="#">
                          <span class="img">
                            <img src="https://picsum.photos/100/100?image=1040" alt="">
                          </span>
                          <span class="point mt-1">50</span>
                        </a>
                        
                      </div>
                    </div>
                  </div>
                  <div class="blog">
                    <h2>title</h2>
                    <h3 class="mb-3 content o-9">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Alias culpa fuga distinctio, inventore reiciendis eligendi et commodi quaerat voluptas nisi qui aspernatur voluptates cumque eveniet officia aliquam, repellendus necessitatibus quia?</h3>
                    <div class="action">
                      <span class="o-5">
                        <span>787</span>&nbsp;個讚
                      </span>
                    </div>
                    <div class="giftArea scrollbar">
                      <div class="gift">
                        <a class="icon" href="#">
                          <span class="img">
                            <img src="https://picsum.photos/100/100?image=1040" alt="">
                          </span>
                          <span class="point mt-1">50</span>
                        </a>
                        <a class="icon" href="#">
                          <span class="img">
                            <img src="https://picsum.photos/100/100?image=1040" alt="">
                          </span>
                          <span class="point mt-1">50</span>
                        </a>
                        
                      </div>
                    </div>
                  </div>
                </div>
            </div>
          </div>

        </div>
      </div>
    </section>


    <%- include ClientApp/ejs/index_2/public/footer.ejs %>
    <%- include ClientApp/ejs/index_2/public/script.ejs %>


    <script src="<%= htmlWebpackPlugin.options.outputFile.vendor %>"></script>

    <%if (htmlWebpackPlugin.options.outputFile.isProd) {%> <% for (var chunk in
    htmlWebpackPlugin.files.chunks) { %>
    <script src="wwwroot/webpackTest<%= htmlWebpackPlugin.files.chunks[chunk].entry %>"></script>
    <% } %> <%} else {%> <% for (var chunk in htmlWebpackPlugin.files.chunks) {
    %>
    <script src="http://localhost:<%= htmlWebpackPlugin.options.outputFile.port %><%= htmlWebpackPlugin.files.chunks[chunk].entry %>"></script>
    <% } %> <% } %>
    
  </body>
</html>


